<!-- app/views/events/edit.html.erb -->
<div class="form-container">
  <h1>Modifier l'événement</h1>

  <%= form_with(model: @event, local: true) do |form| %>
    <% if @event.errors.any? %>
      <div class="error-message">
        <h2><%= pluralize(@event.errors.count, "erreur") %> empêchent la sauvegarde :</h2>
        <ul>
          <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :title, "Titre de l'événement" %>
      <%= form.text_field :title, required: true %>
    </div>

    <div class="form-group">
      <%= form.label :description, "Description" %>
      <%= form.text_area :description, rows: 5, required: true %>
    </div>

    <div class="form-group">
      <%= form.label :start_date, "Date de début" %>
      <%= form.text_field :start_date,
      type: "datetime-local",
      value: @event.start_date.strftime("%Y-%m-%dT%H:%M"),
      min: (Time.zone.now + 2.hours).strftime("%Y-%m-%dT%H:%M"),
      required: true %>

    </div>

    <div class="form-group">
      <%= form.label :duration, "Durée (en minutes)" %>
      <%= form.number_field :duration, min: 1, required: true %>
    </div>

    <div class="form-group">
      <%= form.label :price, "Prix (€)" %>
      <%= form.number_field :price, min: 0, step: 0.01, required: true %>
    </div>

    <div class="form-group">
      <%= form.label :location, "Lieu" %>
      <%= form.text_field :location, required: true %>
    </div>

    <%= form.hidden_field :admin_id %>


    <%= form.submit "Mettre à jour", class: "btn-edit" %>
  <% end %>

  <%= link_to "Retour à l'événement", event_path(@event), class: "btn-edit", style: "display:block; margin-top:1rem; text-align:center;" %>
</div>
