<div class="row gy-4">
  <% @attendances.each do |attendance| %>
    <div class="col-12 col-md-6">
      <div class="card shadow-sm border-0 h-100">
        <div class="row g-0 align-items-center">

          <div class="col-auto">
            <% if attendance.user.avatar.attached? %>
              <%= image_tag url_for(attendance.user.avatar), 
                class: "img-fluid rounded-start", 
                style: "width: 100px; height: 100px; object-fit: cover;" %>
            <% else %>
              <%= image_tag "defaults/avatar_man.png", 
                class: "img-fluid rounded-start", 
                style: "width: 100px; height: 100px; object-fit: cover;" %>
            <% end %>
          </div>

          
          <div class="col">
            <div class="card-body">
              <h5 class="card-title mb-1"> 
                <% if attendance.user.first_name? && attendance.user.last_name? %>
                  <%= attendance.user.first_name %> <%= attendance.user.last_name %>
                <% else %>
                  Anonyme
                <% end %>                
              </h5>
              
              <p class="card-text mb-1">
                Inscrit depuis <%= time_ago_in_words(attendance.user.created_at) %>
              </p>

              <% if attendance.user.description %>
                <p class="text-muted small">
                  Description : <%= attendance.user.description %>
                </p>
              <% end %>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
